APScheduler==3.7.0
bidict==0.21.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dnspython==1.16.0
eventlet==0.30.0
Flask==1.1.2
Flask-Caching==1.9.0
Flask-Cors==3.0.10
Flask-SocketIO==4.3.2
greenlet==1.0.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.10.0
pony==0.7.14
PyMySQL==1.0.2
python-engineio==3.14.2
python-socketio==4.6.1
pytz==2020.5
redis==3.5.3
requests==2.25.1
six==1.15.0
tzlocal==2.1
urllib3==1.26.3
webargs==7.0.1
Werkzeug==1.0.1
